include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include pyjabber/db/schema.sql
include pyjabber/db/delete.sql
include pyjabber/config/config.yaml
include pyjabber/network/certs/ca_cert.pem
include pyjabber/network/certs/ca_key.pem
recursive-include pyjabber/webpage/build *

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
