aiohttp==3.10.5
black==24.4.2
bump2version==1.0.1
click==8.1.7
coverage==7.6.0
flake8==7.1.0
loguru==0.7.2
pytest-asyncio==0.23.8
pytest==8.3.2
pytest-cov==5.0.0
sphinx-wagtail-theme==6.3.0
tox==4.16.0
twine==5.1.1
wheel==0.43.0
xmlschema==3.3.2
Sphinx==7.1.2
build==1.2.1
